<!-- If a cue card has been selected, display the first card in the cue card's first module -->
<div *ngIf="cuecard">
    <div class="guest-view-card-heading">
        <h1>{{cuecard.courseName}}</h1>
        <div id="module-options-container">
          <span *ngIf="cuecard.numModules > 1" id="delete-mod-btn" (click)="deleteModule()"><i class="fa fa-solid fa-trash fa-lg" aria-hidden="true"></i></span>
          <span id="add-mod-btn" (click)="addModule()"><i class="fa fa-solid fa-plus fa-lg" aria-hidden="true"></i></span>
          <select class="module-dropdown" [(ngModel)]="selectedModule" (change)="fetchModule()">
              <option *ngFor="let module of counter(cuecard.numModules); let i = index" [ngValue]="i+1">Module {{i+1}}</option>
          </select>
        </div>
    </div>
    <p>Created by {{cuecard.author}}</p>
    <section class="flashcard-container">
        <div [ngClass]="isEditMode ? 'isEdit flip-card' : 'flip-card'">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <textarea id="question-input" [(ngModel)]="currentQuestion" (change)="editCard()"></textarea>
              </div>
              <div class="flip-card-back">
                <textarea id="answer-input" [(ngModel)]="currentAnswer" (change)="editCard()"></textarea>
              </div>
            </div>
          </div>
          <p class="card-count">{{questionNum+1}} of {{module.individualCards.length}}</p>
          <div class="flashcard-icons-container">
            <span id="edit-btn" (click)="editCard(false)"><i class="fa fa-solid fa-edit fa-lg" aria-hidden="true"></i></span>
            <span id="delete-btn" (click)="deleteCard()"><i class="fa fa-solid fa-trash fa-lg" aria-hidden="true"></i></span>
            <span [ngClass]=" isEditMode ? 'confirm-add-btn' : 'add-btn'" (click)="addCard(isEditMode)"><i [ngClass]=" isEditMode ? 'fa fa-solid fa-check fa-lg' : 'fa fa-solid fa-plus fa-lg'" aria-hidden="true"></i></span>
          </div>
          <div class="flashcard-btns-container">
            <button id="prev-btn" class="btn btn-secondary" (click)="getPrevQuestion()">Prev</button>
            <button id="next-btn" class="btn btn-primary" (click)="getNextQuestion()">Next</button>
          </div>

    </section>
</div>